.c-menu {
    display: flex;
    

    &__nav {
        margin: 20px 0px 0px 100px;
    }

    &__count {
      
    }

    &__minicart {
        
    }

    &__content {
        margin-left: -450px; 
        margin-top: 16px; 
    }


    &__footer {

    }

    &__button {
        width: 200px;
        padding: 5px 30px; 
        border: 1px solid tomato; 
        border-radius: 3px;
        background-color: pink;
        
        margin-top: 30px; 
        margin-left: auto;
        margin-right: auto; 
    }

    &__button-link {
        text-decoration: none;
        color: white;
    }
    &__button-link:hover {
        text-decoration: none;
        color: #888;
    }

    &__tbody {
        

        &-title {
            padding: 0 40px;
        }
    }

    &__link {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 26px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        padding: 20px 15px;
    }

    &__link:hover {
        color: #888;
    }

    &__search {
        margin-left: 615px;
        margin-top: 25px; 
    }
}

@media (max-width: 1250px) {
    .c-menu {

        &__link {
            font-size: 20px;
        }
        &__search {
            margin-left: 430px;
        }

    }
}

@media (max-width: 1050px) {
    .c-menu {

        &__link {
            font-size: 16px;
            padding: 20px 5px;
        }
        &__search {
            margin-left: 240px;
        }
    }
}

@media (max-width: 850px) {

}
