.c-section {


    
    &__top {
        background-color: pink;
        //margin-left: -20px;      // corregir este fallo, position fixed pone 20px left y 20px right.
        width: 1663px;
        height: 150px;
        position: fixed;
        z-index: 100;
    }

    &__center {
       width: 1170px;
       margin: 0 auto;
       padding-top: 160px;
    }

    &__bottom {
        background-color: #aaa;
        width: 1663px;             // corregir este fallo
        height: 200px;
        //margin-left: -15px;      // corregir este fallo
        
    }

}