.l-columns {
    display: grid;

  
    @for $i from 1 through 12 {
        &--#{$i}-columns {
            grid-template-columns: repeat($i, 1fr);
        }
    }
    
    
    @media (max-width: 1050px) {
 
            &--2-columns {
                grid-template-columns: repeat(2, 1fr);
            }
  
    }
    
    @media (max-width: 750px) {

            &--1-columns\@movil {
                grid-template-columns: repeat(1, 1fr);
            }
    }
}

@media (max-width: 500px) {
    
}