.l-menu {
    display: grid;
    height: 150px;
    background-color: pink;
    //position: fixed;

    grid-template-areas: 
        "logo top"
        "logo bottom";

    grid-template-columns: .3fr 1.7fr;

    &__logo {
        grid-area: logo;
    }
    &__top {
        grid-area: top;
    }
    &__bottom {
        grid-area: bottom;
    }
}