.l-menu {
    display: grid;
	width: 1170px;
    margin: 0 auto;

    grid-template-areas: 
        "logo top"
        "logo bottom";
        

    grid-template-columns: .3fr 1.7fr;

    &__logo {
        grid-area: logo;
    }
    &__top {
        grid-area: top;
    }
    &__bottom {
        grid-area: bottom;
    }
}