.l-page {
    display: grid;
  
    
    grid-template-areas: 
        "top"
        "center"
        "bottom";
    
    grid-template-columns: 1fr;

    &__top {
        grid-area: top;
    }
    &__center {
        grid-area: center;
    }
    &__bottom {
        grid-area: bottom;
    }

}

@media (max-width: 1250px) {
    .l-page {
        width: 1000px;
    }
    
}
@media (max-width: 1050px) {
    .l-page {
        width: 800px;
    }
}

@media (max-width: 850px) {
    .l-page {
        width: 100%;
    }
}